*{
	box-sizing: border-box;
          
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
    
    --code-color: #073470;
    --code-fontfamily: Anonymous Pro;
    --python: #101569;
    --main-color: #f66fff;
    --code:#004510;
    --back-code:#ffc;
    --back-pre:#ffc;
    --back-cmd:#eee;
    --back-header:black;
    --header-color:white;
    --cmb-color:yellow;
    --strong-color:rgb(48, 33, 2);
    --article-header-color:Darkred;
}
	div {
	margin-bottom: 15px;
	padding: 4px 12px;
	}
	
	.danger {
	background-color: #ffdddd;
	border-left: 6px solid #f44336;
	}
	
	.success {
	background-color: #ddffdd;
	border-left: 6px solid #4CAF50;
	}
	
	.info {
	background-color: #e7f3fe;
	border-left: 6px solid #2196F3;
	}
	.warning {
	background-color: #ffffcc;
	border-left: 6px solid #ffeb3b;
	}
section > h2 {
	background-color:var(--back-header);
	color:var(--header-color);
}
pre {
overflow:auto;
font-size:1.1em;
}
span {color:var(--code-color);}
	
	.cmb {/*комбинации клавиш*/
	background-color:var(--back-header);
	color:var(--cmb-color);
	}
.cmd{/*стилизуем команды терминала*/
color:purple;
font-weight:800;
background-color:var(--back-cmd);
}
.code , #option > ul > li  
{
color:var(--code);
display:block;
font-weight:800;
letter-spacing: 1px;
font-family:Courier New;
font-size:0.8 rem;
}
.subheader {color:Darkgreen}
section > article > h3 {color:var(--article-header-color);}


